<div class="page">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goHome()">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-menu-item (click)="goToDownloads()">
            <mat-icon>arrow_downward</mat-icon>
            <span>Downloads</span>
        </button>
        <button mat-menu-item (click)="goToAbout()">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
    </mat-menu>
    <div>
        <img src="assets/img/logo.png">
    </div>
</div>

