<div>About ERB Applications
- ERB Apps as a tangible thing

    Current Staff:
    Ben - President, Founder, & CEO
    Logan - Chief Technical Officer

    ERB Apps is made up of anyone that wants to be involved.
    This site is a portal to our solutions, tips and applications. The website itself is an ongoing project to learn different web-based technologies. It was originally written in ASP.NET, then translated into PHP. The site includes jQuery, AJAX, a MySQL DB, and various other web languages.

    Get in touch with me - ben@erbapps.com
</div>