div#page {
    margin-left: auto;
    margin-right: auto;
}

.about-card {
    margin-top: 10px;
}

mat-card-title.about-title {
    color: #447821;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}